Registration/src/main/resources/soap.wsdl

<?xml version="1.0" ?>
<wsdl:definitions name="ServicePlanWSService"
	targetNamespace="http://webservice.customerdetails.customerservice.com/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://webservice.customerdetails.customerservice.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified"
			targetNamespace="http://webservice.customerdetails.customerservice.com/"
			version="1.0" xmlns:tns="http://webservice.customerdetails.customerservice.com/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="getServicePlan" type="tns:getServicePlan"></xs:element>
			<xs:element name="getServicePlanResponse" type="tns:getServicePlanResponse"></xs:element>
			<xs:complexType name="getServicePlan">
				<xs:sequence></xs:sequence>
			</xs:complexType>
			<xs:complexType name="getServicePlanResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:servicePlan"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="servicePlan">
				<xs:sequence>
					<xs:element minOccurs="0" name="end_date" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="id" type="xs:int"></xs:element>
					<xs:element minOccurs="0" name="service_plan" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="start_date" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getServicePlanResponse">
		<wsdl:part element="tns:getServicePlanResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getServicePlan">
		<wsdl:part element="tns:getServicePlan" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ServicePlanWS">
		<wsdl:operation name="getServicePlan">
			<wsdl:input message="tns:getServicePlan" name="getServicePlan">
			</wsdl:input>
			<wsdl:output message="tns:getServicePlanResponse" name="getServicePlanResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServicePlanWSServiceSoapBinding" type="tns:ServicePlanWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<wsdl:operation name="getServicePlan">
			<soap:operation soapAction="" style="document"></soap:operation>
			<wsdl:input name="getServicePlan">
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output name="getServicePlanResponse">
				<soap:body use="literal"></soap:body>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServicePlanWSService">
		<wsdl:port binding="tns:ServicePlanWSServiceSoapBinding"
			name="ServicePlanWSPort">
			<soap:address
				location="http://localhost:8080/UtilityWebService/soap/serviceplan"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>